@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mitr:wght@200;300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mitr:wght@200;300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    --orange:#FE5F41;
    --brown:#4D312C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Mitr", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}

body a{
    text-decoration: none;
    color: black;
}

body h1, h2, h3, h4, h5, h6 {
    font-family: "Mitr", sans-serif;
    color: #4D312C;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;
}

body p{
    font-family: "Raleway", sans-serif;
}

li{
    list-style: none;
}

.header-btn {
    color: #fff;
    font-family: "Mitr", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 0 3px;
    position: relative;
}

.header-btn2 {
    padding: 20px 32px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}

.section-padding {
    padding-top: 70px;
    padding-bottom: 70px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-50{
    margin-bottom: 50px;
}

body .mb-70{
    margin-bottom: 70px;
}

/* Navbar */
.navbar .nav-link{
    font-family: "Mitr", sans-serif;
    color: #4D312C;
    display: block;
    font-size: 16px;
    transition: all .3s ease-out 0s;
    font-weight: 500;
}

.navbar .nav-link:hover{
    color: #FE5F41;
}

/* Hero */
#hero .hero-text {
    padding-top: 80px;
    padding-bottom: 80px;
}

#hero .hero-img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../Images/Illustrations/hero1.jpg.webp);
}

#hero .hero-text h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.2;
    color: #4D312C;
    display: block;
    font-family: "Mitr", sans-serif;
}

#hero .hero-text p {
    margin-bottom: 29px;
    font-size: 18px;
    padding-right: 0px;
    line-height: 1.4;
}

#hero .hero-btn, .navbar .header-btn2{
    background-color: #FE5F41;
    padding: 20px 55px;
    box-shadow: 0 15px 25px rgba(254, 95, 65, 0.14);
    font-size: 18px;
    border-radius: 35px;
    font-weight: 500;
    font-family: 'Mitr', sans-serif;
}

#hero .video-btn {
    font-family: "Mitr", sans-serif;
    color: #FE5F41;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 20px 0;
}

#hero .ratting-point {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.06);
    bottom: 40px;
    z-index: 1;
    left: 40px;
    width: 420px;
    padding: 37px 19px 31px 30px;
}

.ratting-point .features-ratting img {
    width: 63px !important;
    height: 63px !important;
    border-radius: 50%;
}

.ratting-point .features-caption {
    margin-left: 20px;
}

.ratting-point .features-caption h3 {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 1.5;
}

/* Services */
.our-services .section-tittle h2 {
    font-size: 44px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 22px;
    color: #4D312C;
}

.our-services .single-services {
    padding: 47px 46px 36px 46px;
    background-color: #fff;
    border: 1px solid #E6DAD8;
    border-radius: 10px;
    transition: all .4s ease-out 0s;
}

.our-services .section-tittle p {
    color: #94817E;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.our-services .single-services .services-cap h5 a{
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.our-services .single-services .services-cap p{
    font-family: "Raleway", sans-serif;
    color: #94817E;
    font-size: 16px;
    /* line-height: 30px; */
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1.4;
}

.our-services .single-services:hover {
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 25px 38px rgba(254, 95, 65, 0.1);
}

/* Dishes */
.section-tittle.section-tittle2 h2 {
    color: #fff;
    font-size: 44px;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 22px;
}

.section-tittle.section-tittle2 p {
    color: #94817E;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.our-client .full-menu{
    padding: 25px 55px;
    background-color: #FE5F41;
    float: right;
    font-family: 'Mitr', sans-serif;
}

.our-client .full-menu:hover{
    background-color: #FE5F41;
}

.our-client .single-cat {
    transition: all .4s ease-out 0s;
    z-index: 1;
    padding: 35px 60px 40px 60px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 12px;
}

.our-client .single-cat .cat-img .numbering{
    background-color: #FE5F41;
    width: 59px;
    height: 59px;
    line-height: 59px;
    bottom: 20px;
    font-family: "Mitr", sans-serif;
    right: -50px;
}

/* Insta Photos */
.insta .insta-btn{
    top: 40%;
    left: 45%;
    color: #FE5F41;
    width: 150px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

/* Footer */
.footer-social a {
    color: #FE5F41;
    font-size: 22px;
    display: inline-block;
    text-align: center;
    padding: 9px;
    transition: all .4s ease-out 0s;
}

.footer-area .footer-tittle ul li a {
    color: #5E5E5E;
    font-weight: 400;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    /* text-decoration: underline transparent; */
}

.number a {
    font-family: "Raleway", sans-serif;
    font-size: 24px !important;
    color: #FE5F41 !important;
    margin-bottom: 10px;
    font-weight: 400 !important;
    display: block;
}

.number2 a {
    font-family: "Raleway", sans-serif;
    font-size: 14px !important;
    color: #FE5F41 !important;
    margin-bottom: 5px;
    display: block;
}

@media (max-width:575px) {
    #hero .hero-btn {
        padding: 10px 55px;
    }

    .section-tittle {
        margin-bottom: 50px;
    }

    .section-tittle.section-tittle2 {
        margin-bottom: 0px;
    }

    .our-client .full-menu{
        padding: 19px 55px;
        margin-bottom: 30px;
        float: left;
    }

    /* Insta Photos */
    .insta .insta-btn{
        top: 27%;
        left: 30%;
    }
}

@media (min-width:768px) and (max-width:992px){
    .section-padding {
        padding-top: 100px;
        padding-bottom: 100px;
    } 

    /* Hero */
    #hero .hero-text {
        padding-top: 140px;
        padding-bottom: 140px;
    }

    #hero .hero-text h1 {
        font-size: 33px;
    }

    #hero .hero-text p {
        padding-right: 21px;
    }

    #hero .hero-btn {
        padding: 15px 55px;
    }

    #hero .ratting-point {
        width: 80%;
        flex-wrap: wrap;
    }

    .ratting-point .features-caption {
        margin-left: 0;
        padding-top: 20px;
    }

    .our-services .single-services {
        padding: 41px 25px 26px 22px;
    }

    .our-client .single-cat .cat-img .numbering{
        right: -10px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    header .main-menu {
        margin-left: 20px;
    }

    header .main-menu ul li {
        margin: 0 5px;
    }

    /* Hero */
    #hero .hero-text {
        padding-top: calc(165px - 98px);
        padding-bottom: 165px;
    }

    #hero .hero-text h1 {
        font-size: 55px;
    }

    #hero .hero-text p {
        padding-right: 17px;
    }

    #hero .ratting-point {
        width: 420px;
        flex-wrap: nowrap;
    }

    .ratting-point .features-caption {
        margin-left: 20px;
        padding-top: 0;
    }

    .our-client .single-cat .cat-img .numbering{
        right: 8px;
    }
}
