@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    overflow-wrap: break-word;
    color: #3C3950;
    text-transform: uppercase;
    font-family: 'Mosterrat' ,sans-serif;
}

.gem-divider{
    position: relative;
    border-top: 1px solid transparent;
    height: 0;
    font-size: 0;
    line-height: 0;
}

/* Navbar */
.navbar .navbar-brand img{
    width: 25vw;
    height: 50px;
    text-align: start;
}

.navbar .offcanvas a{
    color: #3c3950;
    display: block;
    padding: 13px 60px 15px 30px;
    font-family: 'Source Sans 3' ,sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.navbar .offcanvas a:hover{
    color: rgb(74, 140, 221);
}

/* Main Carousel */
#carouselConstruction{
    height: 110vh;
    background-color: black;
}

#carouselConstruction .carousel-caption.first{
    position: absolute;
    top: 0%; /* Center vertically */
    /* left: 15%; */
    left: 0%;
    align-items:center;
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
}

#carouselConstruction .carousel-caption.second{
    position: absolute;
    top: 30%;
    left: 10%;
    margin: 0 auto;
    /* left: 50%; */
    width: 80%;
    height: 50vh;
    /* border: 1px solid black; */
}

#carouselConstruction .carousel-caption .yellow-back{
    background-color: #FBBA00;
    color: white;
    font-family: 'Mosterrat' ,sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

#carouselConstruction .carousel-caption.first .yellow-back{
    font-size: 35px;
    padding: 10px 20px;
}

#carouselConstruction .carousel-caption.second .yellow-back{
    font-size: 23px;
    padding: 7px 13px;
}

#carouselConstruction .carousel-caption .blue-text{
    color: #4C82C3;
    font-size: 50px;
    font-family: 'Mosterrat' ,sans-serif;
    font-weight: 700;
}

#carouselConstruction .carousel-caption .dark-blue-text{
    color: #3C3950;
    font-family: 'Mosterrat' ,sans-serif;
    font-weight: 700;
}

#carouselConstruction .carousel-caption.first .dark-blue-text{
    font-size: 31px;
}

#carouselConstruction .carousel-caption.second .dark-blue-text{
    font-size: 19px;
}

#carouselConstruction .carousel-caption p{
    color: #3c3950;
    font-size: 19px;
    font-family: 'Source Sans 3' ,sans-serif;
    font-weight: 300;
    text-align: justify;
}

#carouselConstruction .carousel-caption.second .btn{
    padding: 17px 35px;
    font-weight: 700;
}

#carouselConstruction img{
    width: 100%;
    height: 110vh;
    object-fit: cover;
}

.welcome{
    padding: 130px 0 0;
}

.welcome .inner-element{
    margin-bottom: 1.1em;
}

.welcome .first-inner{
    padding: 0 13px;
    overflow-wrap: break-word;
}

.welcome .first-inner h4{
    color: #3C3950;
    text-transform: uppercase;
    line-height: 38px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Monsterrat';
    margin: 1em 0;
    letter-spacing: .05em;
}

.welcome .first-inner h1{
    line-height: 48px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .05em;
    white-space: pre-wrap;
}

.welcome .first-inner img{
    max-width: 100%;
    height: auto;
    text-align: center;
}

.welcome .second-inner{
    padding: 0 13px;
    overflow-wrap: break-word;
}

.welcome .second-inner .styled-subtitle{
    text-transform: none;
    line-height: 37px;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Source Sans 3';
    color: #5f727f;
}

.welcome .second-inner .child, .child>p{
    margin: 0 0 1.1em;
    line-height: 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Source Sans 3';
    text-transform: none;
    color: #5F727F;
}

.welcome .second-inner .gem-list>ul{
    padding-left: 1.2em;
    list-style-type: square;
}

.welcome .second-inner .gem-list>ul>li{
    margin-bottom: .7em;
}

.welcome .second-inner > button:hover{
    color: white;
}

/* features */
.features .text-box{
    padding: 35px 21px 0;
    color: #ffffff;
}

.features .text-box .title-xlarge{
    text-transform: uppercase;
    line-height: 54px;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Mosterrat';
    margin: 1.4em 0;
    letter-spacing: .05em;
}

.features .text-box h4{
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 38px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Mosterrat';
    letter-spacing: .05em;
}

.features .text-box p{
    margin: 0 0 1.1em;
    line-height: 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Source Sans 3';
    text-transform: none;
}

.features .image-box{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
}

/* Services */
.services{
    background-image: url(../Images/Illustrations/slice-12.jpg);
    background-position: center;
    background-attachment: scroll;
}

.services > .inner{
    padding: 150px 21px 0;
}

.services > .inner .inner-element>h2, .choice > .inner .inner-element>h2{
    letter-spacing: .05em;
    line-height: 25px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.services > .inner .quickfinder-item, .choice > .inner .quickfinder-item{
    margin-bottom: 42px;
    vertical-align: top;
    float: none;
    display: inline-block;
    line-height: 25px;
    text-align: left;
}

.services > .inner .quickfinder-item-box{
    padding: 50px;
}

.services > .inner .quickfinder-item-title, .choice > .inner .quickfinder-item-title{
    color: #4C82C3;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    /* font-family: 'Monsterrat'; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.services > .inner .quickfinder-item-title:hover, .choice > .inner .quickfinder-item-title:hover{
    color: #FBBA00;
    cursor: pointer;
}

.services > .inner .quickfinder-item-text, .choice > .inner .quickfinder-item-text{
    color: #5F727F;
    margin-top: 14px;
    line-height: 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Source Sans 3';
}

/* Why Choose Us */
.choice{
    background-image: url(../Images/Illustrations/choice-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: scroll;
}

/*Professional Team */
.team .heading-common{
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .05em;
}

.team .inner-element h2{
    color: #3C3950;
    font-size: 28px;
    line-height: 42px;
}

.team .inner-element p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #5F727F;
    font-family: 'Source Sans 3';
    text-transform: none;
}

.team .inner-element h4{
    font-size: 24px;
    line-height: 38px;
}

.team .inner-element h5{
    font-size: 18px;
    line-height: 30px;
}

/* Footer */
#footer-nav{
    color: #99A9B5;
    background-color: #212331;
    border-top-color: #212331;
    padding: 40px 0;
    border-top: 1px solid #313646;
}

#footer-nav > .container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 21px;
    padding-right: 21px;
}

#footer-nav .row>*{
    margin-top: 3em;
}

@media (min-width:768px) {
    /* Carousel */
    #carouselConstruction .carousel-caption.first{
        position: absolute;
        top: 20%; /* Center vertically */
        left: 0%;
        width: 100%;
        height: 100vh;
        /* border: 1px solid black; */
    }
    
    #carouselConstruction .carousel-caption.second{
        top: 31%;
        width: 80%;
        height: 50vh;
        /* border: 1px solid black; */
    }

    #carouselConstruction .carousel-caption .yellow-back{
        background-color: #FBBA00;
        color: white;
        font-family: 'Mosterrat' ,sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
    }
    
    #carouselConstruction .carousel-caption.first .yellow-back{
        font-size: 80px;
        padding: 10px 20px;
    }
    
    #carouselConstruction .carousel-caption.second .yellow-back{
        font-size: 75px;
        padding: 7px 13px;
    }
    
    #carouselConstruction .carousel-caption .blue-text{
        color: #4C82C3;
        font-size: 80px;
        font-family: 'Mosterrat' ,sans-serif;
        font-weight: 700;
    }
    
    #carouselConstruction .carousel-caption .dark-blue-text{
        color: #3C3950;
        font-family: 'Mosterrat' ,sans-serif;
        font-weight: 700;
    }
    
    #carouselConstruction .carousel-caption.first .dark-blue-text{
        font-size: 50px;
    }
    
    #carouselConstruction .carousel-caption.second .dark-blue-text{
        font-size: 37px;
    }
    
    #carouselConstruction .carousel-caption p{
        color: #3c3950;
        font-size: 19px;
        font-family: 'Source Sans 3' ,sans-serif;
        font-weight: 300;
        text-align: justify;
        visibility: hidden;
    }
    
    #carouselConstruction .carousel-caption.second .btn{
        padding: 17px 35px;
        font-weight: 700;
    } 

    .welcome .first-inner, .second-inner{
        padding: 0;
    }

    .welcome .first-inner h4{
        margin: 0;
    }

    /* features */
    .features .text-box{
        padding: 35px 50px 0;
    }
}
@media (min-width:992px) {
    /* Enable hover effect for dropdown */
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; /* Optional: Adjust spacing */
    }

    /* Prevent flicker effect */
    .dropdown-menu {
        display: none;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    /* Make dropdown-menu visible on hover */
    .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
    }

    /* Carousel */
    #carouselConstruction .carousel-caption.second{
        top: 40%;
        width: 60%;
        height: 50vh;
        /* border: 1px solid black; */
    }

    /* Welcome */
    .welcome .first-inner h1{
        line-height: 50px;
        font-size: 40px;
    }

    /* .welcome .second-inner .styled-subitle{
        text-transform: none;
        line-height: 37px;
        font-size: 24px;
    } */

    .features .text-box .title-xlarge{
        font-size: 80px;
    }

    .services > .inner .inner-element>h2, .choice > .inner .inner-element>h2{
        font-size: 36px;
    }

    /* Team */
    .team h2{
        font-size: 36px;
        line-height: 48px;
    }

    /* Footer */
    #footer-nav{
        padding: 0 0 30px 0;
    }

    #footer-nav .row>*{
        margin-top: 2em;
    }
}